div{
    display:inline-block;
    border:3px solid black;
    border-radius: 5px;
    background-color: aqua;
    margin:10px;
    text-align: center;
    padding:20px;

}


div:hover {
    outline: 5px solid red;
    outline-offset: 1px;
}


