#d1{
    text-align: center;
    border: 2px solid black;
    padding:10px;
    background-color:green;
    display:inline-block;
    margin-left:500px;
    position:relative;
    border-radius: 10px;
}

#d2{
    right:0;
    top:0;
    position:absolute;
    background-color:white ;
}

#d1:hover{

    outline: 5px solid black;
    outline-offset: 2px;
    background-color: rgb(95, 90, 90);

}