#n1{
    text-align: center;
    margin-top:20px;
    background-color: gray;
}

a{
    margin:20px;
    font-size:20px;
    text-decoration: none;  
}

a:hover{
    background-color:white;
    font-size: 30px;
    color:black

}
body{
    background-color:green;
}